body {
    background-color: #F2F2F2;
    font-family: 'Oxygen', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    line-height: 30px;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #5c5c5c;
    margin: 0;
}

h1 {
    color: #ff6b6b;
    /*color: #313437;*/
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

h1:after {
    background-color: #c1c7cd;
    content: "";
    display: block;
    height: 1px;
    margin: 25px auto 0 auto;
    width: 200px;
}

h2 {
    color: #ff6b6b;
    font-size: 1em;
}

/*MAIN CONTENTs*/
#site {
    margin: 0;
    width: 100%;
}

#content {
    padding: 25px; 
    float: right;
    width: 76%;
}

/*LEFT NAV*/
#left-nav {
    width: 250px;
    position: fixed;
    z-index: 1;
    height: 100%;
    bottom: 0;
    background-color: #084D8B;
}
    #left-nav #logo {
        margin-bottom: 30px;
    }
    
#logo img {
    width: 250px;
}

#nav {
    width: 200px;
    float: left;
}

    #nav ul {
        list-style: none;
        margin: 0;
        padding-left: 13px;
    }
    
    #nav ul li {
        width: 195px;
        height: 42px;
        opacity: .75;
        
        -moz-transition: opacity .5s;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; 
    }
    
    #nav ul li.active {
        opacity: 1;
    }
    
    #nav ul li:hover {
        opacity: 1;
    }
    
    #nav ul li a {
        text-decoration: none;
    }
    
    #nav ul li a p {
        font-size: 30px;
        margin: 0;
        color: white;
        position: relative;
        top: 12px;
    }
    
    #nav ul li a p.active {
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    #nav ul li a p.active:after {
        content: ' >';
    }
    
    #nav ul li a p:hover {
        text-decoration: underline;
    }
    
    #nav ul li a p:hover:after {
        content: ' >';
        
    }
    
   
    
    #nav ul li img {
        margin-right: 10px;
        width: 40px;
        float: left;
        display: inline-block;
    }


a {
    color: #2f5ba4;
}

.page-wrapper {
    width: 60em;
    margin: 1em auto;
}

.header {
    background: #fff;
    padding: 1em;
    margin: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(85,98,112,0.5);
    -moz-box-shadow: 0 1px 4px 0 rgba(85,98,112,0.5);
    box-shadow: 0 1px 4px 0 rgba(85,98,112,0.5);
}

#menu {
    margin: 0 auto;
    text-align: center;
    width: 250px;
}

.logo {
    display: block;
    margin: 0 auto;
}

.content {
    background: #fff;
    padding: 1em;
    margin: 1em 0 0 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(85,98,112,0.5);
    -moz-box-shadow: 0 1px 4px 0 rgba(85,98,112,0.5);
    box-shadow: 0 1px 4px 0 rgba(85,98,112,0.5);
}

/* FORM STYLES */
fieldset {
    margin-top: 1em;
    border: none;
    border-top: dotted #808080 1px;
    padding-top: .5em;
    position: relative;
}

legend {
    color: #313437;
    font-size: 36px;
    font-weight: 100;
    padding: 0px .5em;
    position: absolute;
    top: -1.2em;
    left: -.25em;
}

.form-item {
    margin: 1em 0 0 10px;
}

.form-item label {
    font-size: 23px;
}

.form-item input {
    background-color: #f0f0f0;
    border: solid 1px #999;
    padding: 15px;
    width: 350px;
    font-size: 23px;
}

#submitButton {
    margin: 1em 0 0 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #2f5ba4;
    width: 125px;
    height: 2.5em;
}

#submitButton:hover {
    background-color: #7F9ED2;
}

/* STUDENT LISTING */

.student-listing-table-wrapper {
    width: 100%;
    margin-top: 35px;
}

.student-listing-table-wrapper table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.student-listing-table-wrapper table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

.student-listing-table-wrapper table a:active, .student-listing-table-wrapper table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

.student-listing-table-wrapper table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    width: 95%;
}

.student-listing-table-wrapper table th {
    padding: 21px 25px 22px 25px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.student-listing-table-wrapper table th:first-child {
    text-align: left;
    padding-left: 20px;
}

.student-listing-table-wrapper table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

.student-listing-table-wrapper table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

.student-listing-table-wrapper table tr {
    text-align: center;
    padding-left: 20px;
}

.student-listing-table-wrapper table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}

.student-listing-table-wrapper table td {
    padding: 18px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

.student-listing-table-wrapper table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.student-listing-table-wrapper table tr:last-child td {
    border-bottom: 0;
}

.student-listing-table-wrapper table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.student-listing-table-wrapper table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.student-listing-table-wrapper table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

/* Accordion Form */

.ac-container{
    width: 700px;
    text-align: left;
}

.ac-container label.ac-label{
    padding-left: 10px;
    position: relative;
    z-index: 20;
    display: block;
    height: 45px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 45px;
    font-size: 27px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label.ac-label:hover{
    background: #fff;
}

.ac-container .ac-content {
    display: none;
    padding-bottom: 25px;
}

.ac-container.form-item {
    margin: 1em 0 0 0;
}

.ac-container.form-item input {
    background-color: #f0f0f0;
    border: solid 1px #999;
    padding: 4px;
    width: 200px;
    height: 2.5em;
}

.ac-container#submitButton {
    margin: 1em 0 0 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #2f5ba4;
    width: 125px;
    height: 2.5em;
}

.ac-container#submitButton:hover {
    background-color: #7F9ED2;
}
